:local(.bpApp) {
    margin: 20px;
}

:local(.bpMainDiv) {
    margin: 40px;
}

:local(.bpDiv) {
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /*  border: 5px dotted #A9A9A9; */
}

:local(.bpImg) {
    height: 64px;
}

:local(.bpItems) {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.25em;
}

:local(.bpRight) {
    position: relative;
    float: right;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#react-div {
    height: 100%;
    width: 100%;
}

.homepage {
    background-image: url('/assets/img/background.png');
    background-size: cover;
    height: 100%;
}

.profile {
    background-image: url('/assets/img/profile.jpg');
    background-size: cover;
    height: 100%;
}

.react-html5-camera-photo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -240px;
}

.hiddenLink {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-decoration: none;
    width: 300px;
    height: 300px;
    display: block;
}

.react-html5-camera-photo video,
.react-html5-camera-photo img,
#white-flash.normal {
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.profile-image {
    object-fit: cover;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    position: absolute;
    left: 197px;
    top: 143px;
}

.profile-information {
    position: absolute;
    bottom: 50%;
    right: 0;
}

.profile-information .snackbar {
    background-color: #7464ff9e;
    font-size: 20px;
}